{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}
    Hi {{ user.username }} {{user.id}}!
    <p><a href="{% url 'chatapp:logout' %}">Logout</a></p>

    <div id="messages-div"> </div>

    <input id="text-field" type="text">
    <button id="send-button" type="submit"> Enviar </button>

    <script>

        loadMessages = function(src, dest) {
            console.log(src, dest);
            $.get({
                url: "{% url 'chatapp:load_messages' %}",
                data: {
                    "to": dest,
                    "from": src
                }
            }).done(function(response) {
                $("#messages-div").html(response);
            })
        };

        sendMessageEvent = function() {
            let textfield = $("#text-field");
            let msg = textfield.val();

            textfield.val('');

            if (msg === "") {
                return;
            }

            $.post({
                url: "{% url 'chatapp:send_message' %}",
                data: {
                    'message': msg,
                    'to': "8",
                    'from': "{{user.id}}"
                },
                headers: {
                    "X-CSRFToken": Cookies.get('csrftoken')
                }
            }).done(function(response) {
                loadMessages("{{user.id}}", "8");
            })
        };

        $(document).ready(function () {
            loadMessages("{{user.id}}", "8");
            window.setInterval(function() { loadMessages("{{user.id}}", "8") }, 2500);
        });

        $("#send-button").click(sendMessageEvent);
        $("#text-field").keypress(function(event) {
            let keycode = (event.keyCode ? event.keyCode : event.which);
            if(keycode == '13'){
               sendMessageEvent();
            }
        });

    </script>

{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">login</a>
{% endif %}


{% endblock %}