{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}
    Hi {{ user.username }}!
    <p><a href="{% url 'chatapp:logout' %}">Logout</a></p>

    {% if messages %}

        <ul style="list-style: none;">
        {% for msg in messages %}
            <li> <b>{{ msg.from }}</b>: {{ msg.text }} </li>
        {% endfor %}
        </ul>

    {% endif %}

{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">login</a>
{% endif %}
{% endblock %}